.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  padding-bottom: 50px;
}

.appHeader {
  background-color: #282c34;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
